.ratingContainer {
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 24px;
	border-radius: 12px;
	box-shadow: 8px 8px 16px 0 rgba(34, 60, 80, 0.2);
	overflow-x: auto;
	max-width: 1000px;
}

.btn {
	font-size: 20px;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding: 20px 10px;
	}
}

@media (max-width: 700px) {
	.ratingContainer {
		padding: 0 2%;
	}

	.btn {
		font-size: 16px;
		padding: 5px;
	}

	:global(.ant-table-thead > tr > th) {
		padding: 5px!important;;
		font-size: 13px !important;;
	}

	:global(.ant-table-tbody > tr > td) {
		padding: 5px !important;;
		font-size: 13px !important;;
	}

	:global(.ant-pagination) {
		font-size: 12px !important;;
	}
}

@media (max-width: 500px) {
	.ratingContainer {
		box-shadow: none;
		padding: 0;
	}
}


