.ratingContainer {
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 24px;
	border-radius: 12px;
	box-shadow: 8px 8px 16px 0 rgba(34, 60, 80, 0.2);
	overflow-x: auto;
	width: 80%;
	max-width: 1000px;
}

.btn {
	font-size: 20px;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding: 20px 10px;
	}
}

@media screen and (max-width: 576px) {
	.ratingContainer {
		padding: 12px;
		width: calc(100% - 40px)
	}
}