.wrapper {
	min-height: 100vh;
	box-sizing: border-box;
	background: #1957AD;
	background: linear-gradient(135deg, #1957AD, #7A6AF7);
	justify-content: center;
	align-items: center;
	gap: 50px;
	flex-direction: column;
}

.content {
	max-width: 1200px;
}
