.wrapper {
	min-height: 100vh;
	box-sizing: border-box;
	background: #1957AD;
	background: linear-gradient(135deg, #1957AD, #7A6AF7);
	padding: 30px;
	justify-content: center;
	align-items: center;
	gap: 50px;
	flex-direction: column;
}

.titleContainer {
	position: relative;
}

.comingSoonContainer {
	display: flex;
	gap: 10px;
	align-items: center;
	position: absolute;
	bottom: -10px;
	right: -100%;

	animation: float 3s linear infinite;
	animation-direction: alternate;
}

@keyframes float {
	from { transform: rotate(5deg); }
	to { transform: rotate(-5deg); }
}

.chromeStoreLogo {
	width: 30px;
	height: 30px;
}

.comingSoonLabel {
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.ratingContainer {
	justify-content: center;
	align-items: center;
	background: #fff;
	padding: 24px;
	border-radius: 12px;
	box-shadow: 8px 8px 16px 0 rgba(34, 60, 80, 0.2);
	overflow-x: auto;
	width: 80%;
	max-width: 1000px;
}

.btn {
	font-size: 20px;
}

@media screen and (max-width: 1024px) {
	.wrapper {
		padding: 20px;
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding: 20px 10px;
	}

}

@media screen and (max-width: 576px) {
	.titleContainer {
		flex-direction: column;
	}

	.comingSoonContainer {
		position: static;
	}

	.ratingContainer {
		padding: 12px;
		width: calc(100% - 40px)
	}

}